In [31]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

movies = pd.read_csv("Data/movies.dat", delimiter = "::", header = None , names = ['Movie ID', 'Movie Title', 'Genre'], engine = "python")
reviews = pd.read_csv("Data/ratings.dat", delimiter = "::",header = None, names = ['User ID', 'Movie ID', 'Rating', 'Rating Timestamp'], engine = "python")

In [32]:
print(movies.head())
print(movies.info())
print(reviews.head())
print(reviews.info())

   Movie ID                                        Movie Title  \
0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1        10               La sortie des usines LumiÃ¨re (1895)
2        12                      The Arrival of a Train (1896)
3        25  The Oxford and Cambridge University Boat Race ...
4        91                         Le manoir du diable (1896)

               Genre
0  Documentary|Short
1  Documentary|Short
2  Documentary|Short
3                NaN
4       Short|Horror
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34437 entries, 0 to 34436
Data columns (total 3 columns):
Movie ID       34437 non-null int64
Movie Title    34437 non-null object
Genre          34159 non-null object
dtypes: int64(1), object(2)
memory usage: 807.2+ KB
None
   User ID  Movie ID  Rating  Rating Timestamp
0        1    111161      10        1373234211
1        1    117060       7        1373415231
2        1    120755       6        1373424360
3        1    317919       6        1373495763
4        1    454876      10        1373621125
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814505 entries, 0 to 814504
Data columns (total 4 columns):
User ID             814505 non-null int64
Movie ID            814505 non-null int64
Rating              814505 non-null int64
Rating Timestamp    814505 non-null int64
dtypes: int64(4)
memory usage: 24.9 MB
None

In [15]:
print("number of movies {}, number of reviews {}".format(movies.shape[0], reviews.shape[0]))

number of movies 34437, number of reviews 814505

In [23]:
def NumberOfGenres():
    """pulling unique genres"""
    genres = []
    for val in movies["Genre"]:
        try:
            genres.extend(val.split("|"))
        except AttributeError:
            pass
    unique = len(set(genres))
    genres = set(genres)
    return unique, genres

In [24]:
unique, genres = NumberOfGenres()
print(unique,genres)

28 {'Sci-Fi', 'History', 'Mystery', 'Action', 'War', 'Talk-Show', 'Western', 'Biography', 'Fantasy', 'Adult', 'Film-Noir', 'Game-Show', 'Animation', 'Crime', 'Musical', 'Romance', 'Short', 'Adventure', 'Family', 'Drama', 'Comedy', 'Documentary', 'Sport', 'News', 'Horror', 'Reality-TV', 'Thriller', 'Music'}

In [36]:
#getting the number of unique user in the dataset
print("number of unique user in the dataset :{}".format(len(np.unique(reviews["User ID"]))))
print("number of missing rating :{}".format(reviews["Rating"].isnull().sum()))
print("mean of ratings :{}".format(reviews["Rating"].mean()))
print("max of ratings :{}".format(reviews["Rating"].max()))

number of unique user in the dataset :60283
number of missing rating :0
mean of ratings :7.304460991645232
max of ratings :10

In [10]:
extract_date = lambda x: x[-5:-1] if x[-1] == ")" else np.nan
movies["date"] = movies["Movie Title"].apply(extract_date)

In [17]:
def Dummy_var_year():
    years = ['18', '19', '20']
    for year in years:
        movies[str(year) + "00's"] = movies["date"].apply(lambda x: 1 if x[:2] == year else 0)

In [28]:
def Dummy_var_genre(val):
    try:
        if val.find(g) != -1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0
    
for g in genres:
    movies[g] = movies["Genre"].apply(Dummy_var_genre)

In [35]:
convert_timestamp = lambda x: datetime.datetime.fromtimestamp(x).strftime("%Y-%m-%d %H:%M:%S")
reviews["date_time"] = reviews["Rating Timestamp"].apply(convert_timestamp)

   User ID  Movie ID  Rating  Rating Timestamp            date_time
0        1    111161      10        1373234211  2013-07-07 23:56:51
1        1    117060       7        1373415231  2013-07-10 02:13:51
2        1    120755       6        1373424360  2013-07-10 04:46:00
3        1    317919       6        1373495763  2013-07-11 00:36:03
4        1    454876      10        1373621125  2013-07-12 11:25:25